@import "tailwindcss";

@theme{
  --color-primary-text: rgba(255, 255, 255, 1);

  --color-primary: rgba(100, 100, 255);

  --color-upload-bg: rgba(77, 77, 77 ,1);
  --color-upload-hover: rgba(45, 45, 45, 0.55);
  --color-upload-border: rgba(150, 150, 150, 1);
  --color-upload-button-hover: rgba(120, 120, 255, 1);

  --color-outline: rgba(255, 255, 255, 1);
  --color-card-bg: rgba(64, 64, 64, 1);

  --color-background: rgba(55, 55, 55, 1);

  --color-bad: rgba(255, 50, 50, 1);
  --color-bad-hover: rgba(255, 100, 100, 1);
}


:root{
  background-color: var(--color-background);
}