@import "tailwindcss";

@theme{
  --color-primary-text: rgba(255, 255, 255, 1);

  --color-upload-bg: rgba(77, 77, 77 ,1);
  --color-card-bg: rgba(64, 64, 64, 1);

  --color-background: rgba(55, 55, 55, 1)
}


:root{
  background-color: var(--color-background);
}